<ion-header>
  <ion-navbar>
    <ion-title>Detail Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="updateEventDetail()">
    <ion-card-header *ngIf="currentEvent?.name">
      {{currentEvent?.name}}
    </ion-card-header>
    <ion-card-content>
      <p>Harga Tiket : 
        <strong>IDR {{currentEvent?.price}}</strong>
      </p>
      <p>Tanggal Event :
        <strong>{{currentEvent?.date}}</strong>
      </p>
      <p>Contact : 
        <strong>{{currentEvent?.contact}}</strong>
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Tambah peserta -->
  <ion-card class="add-guest-form">
    <ion-card-header>
      Tambah Peserta
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked>Nama</ion-label>
            <ion-input [(ngModel)]="guestName" type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-3>
          <button ion-button icon-only (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <span *ngIf="guestPicture">Picture Captured!</span>
      <button ion-button block color="primary" (click)="addGuest(guestName)" [disabled]="!guestName">
        Tambah Peserta
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>